extends ../layout.pug

block prepend styles
  link(rel='stylesheet' href='//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css')

block content
   div(class='breadcrumb')
      li(id='pastitle')= title
   form(id='doer-add-form' name='doer-add-form' class='form-inline' action='')
      div(class='form-group')
         div(class='col')
            label(for='name') Name
         div(class='col')
            input(id='name' name='name' value='' class='form-control')
      div(class='form-group')
         div(class='col')
            label(for='name') Experience
         div(class='col')
            input(id='experience' name='experience' value='' class='form-control')     
      div(class='form-group')
         div(class='col')
            label(for='name') Number of workers
         div(class='col')
            input(id='number' name='number' value='' class='form-control')   
      div(class='form-group')
         div(class='col')
            button(type='submit' class='btn btn-primary') Create
      div.list-wrapper
         table(id='doer-list')
block append scripts
   script(src='/static/js/models/project_doer.js')
   script(src='//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js')
   script(src='/static/js/views/project_doer.js')
      